# Результаты сборки (Бинарники)
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Промежуточные файлы компиляции 
*.o
*.obj
*.d
*.pdb
*.ilk
*.idb

# Папки сборки и кэш 
build/
pre-alpha/
.cache/

# Папка VSCode
.VSCode/

# Специфичные файлы Windows (если применимо) 
Thumbs.db
Desktop.ini

# Сбощик
build.bat

# Тест
Test.txt